@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif; texto
font-family: 'Poppins', sans-serif; titulos 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background: linear-gradient(to right, #e1f7d5, #f1cbff);
  padding: 2em .5em; }

.titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #000;
  text-align: center; }

.calendario {
  background: linear-gradient(to left, #e1f7d5, #f1cbff);
  width: 90%;
  margin: 1em auto;
  padding: 1em 1em 4em 1em;
  border-radius: 10%; }
  .calendario__info {
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.1em; }
  .calendario__prev, .calendario__next {
    padding: 0 5px;
    color: #000;
    cursor: pointer;
    font-size: 1.6em; }
  .calendario__prev {
    margin-right: auto;
    font-size: 3em; }
  .calendario__next {
    margin-left: auto;
    font-size: 3em; }
  .calendario__semana, .calendario__fechas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 5em;
    grid-gap: 10px; }
  .calendario__mes, .calendario__anio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    padding: .5em 1em; }
  .calendario__dia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: none;
    background: none; }
  .calendario__item {
    text-align: center;
    line-height: 2.5; }
  .calendario__hoy {
    background: #96ead7;
    width: 30%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    margin: auto; }
  .calendario__dias-pasado {
    opacity: .35; }

.modulo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s; }
  .modulo__container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #d2e0f2;
    border-radius: 10%;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%; }
  .modulo__titulo {
    font-size: 2em; }
  .modulo__form {
    margin-bottom: 1em; }
  .modulo__img {
    width: 90%;
    max-width: 450px; }
  .modulo__buttons {
    display: flex; }
  .modulo__cerrar {
    text-decoration: none;
    color: #000;
    background-color: #d6ffd9;
    margin: 0 1em;
    padding: .5em 1.5em;
    border: 1px solid;
    border-radius: 10%;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    transition: background-color .3s; }
    .modulo__cerrar:hover {
      background-color: #e3fffb; }

.modulo--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s; }
