@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif; texto
font-family: 'Poppins', sans-serif; titulos 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  background-color: #f8f8fa; }

.button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white; }

.header .button {
  width: 60px;
  background-color: #92a1d1; }

#cancelButton, #deleteButton {
  background-color: #d36c6c; }

#saveButton, #closeButton {
  background-color: #92a1d1; }

.container {
  width: 770px; }
  .container .header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between; }
    .container .header .button {
      background-color: #92a1d1; }
  .container .weekdays {
    width: 100%;
    display: flex;
    color: #247BA0; }
    .container .weekdays .days {
      width: 100px;
      padding: 10px; }
  .container .calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
    .container .calendar .day {
      width: 100px;
      padding: 10px;
      height: 100px;
      cursor: pointer;
      background-color: white;
      margin: 5px;
      box-shadow: 0px 0px 3px #CBD4C2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .container .calendar .day:hover {
        background-color: #e8faed; }
    .container .calendar .day + #currentDay {
      background-color: #e8f4fa; }
    .container .calendar .fill {
      cursor: default !important;
      background-color: #FFFCFF !important;
      box-shadow: none !important; }

.modulo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s; }
  .modulo__container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #d2e0f2;
    border-radius: 10%;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%; }
  .modulo__titulo {
    font-size: 2em; }
  .modulo__form {
    margin-bottom: 1em; }
  .modulo__img {
    width: 90%;
    max-width: 450px; }
  .modulo__buttons {
    display: flex; }
  .modulo__cerrar {
    text-decoration: none;
    color: #000;
    background-color: #d6ffd9;
    margin: 0 1em;
    padding: .5em 1.5em;
    border: 1px solid;
    border-radius: 10%;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    transition: background-color .3s; }
    .modulo__cerrar:hover {
      background-color: #e3fffb; }

.modulo--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s; }

.button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white; }

.header .button {
  width: 60px;
  background-color: #92a1d1; }

#cancelButton, #deleteButton {
  background-color: #d36c6c; }

#saveButton, #closeButton {
  background-color: #92a1d1; }
