@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif; texto
font-family: 'Poppins', sans-serif; titulos 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background: linear-gradient(to right, #e1f7d5, #f1cbff);
  padding: 2em .5em; }

.titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #000;
  text-align: center; }

.calendario {
  background-color: #f3eeff;
  width: 90%;
  margin: 1em auto;
  padding: .5em 0; }
  .calendario__info {
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.1em; }
  .calendario__prev, .calendario__next {
    padding: 0 5px;
    color: #000;
    cursor: pointer;
    font-size: 1.6em; }
  .calendario__prev {
    margin-right: auto;
    font-size: 3em; }
  .calendario__next {
    margin-left: auto;
    font-size: 3em; }
  .calendario__semana, .calendario__fechas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 5em;
    grid-gap: 10px; }
  .calendario__mes, .calendario__anio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    padding: .5em 1em; }
  .calendario__dia {
    display: flex;
    justify-content: center;
    align-items: center; }
  .calendario__item {
    text-align: center;
    line-height: 2.5; }
  .calendario__hoy {
    background: #96ead7;
    width: 30%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    margin: auto; }
  .calendario__dias-pasado {
    opacity: .35; }

.modulo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
