@import "../base/variables";
@import "../utilities/breakpoints";
@import "../utilities/buttons";

.dark{
    background-color: #000;
    color: #fff;
}

.ligth{
    background-color: #f8f8fa;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3b444b;


    .buttonMode{
        width: 100px;
        height: 70px;
        margin: 10px;
        padding: 15px;
        text-decoration: none;
        border: #000 1px solid;
        border-radius: 15%;
        background-color: #f8f8fa;
        color: #000;
    }

    button {
        width: 75px;
        cursor: pointer;
        box-shadow: 0px 0px 2px gray;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
    }

    #container {
        width: 770px;

        #header {
            padding: 10px;
            color: #adafaa;
            font-size: 26px;
            font-family: sans-serif;
            display: flex;
            justify-content: space-between;

            #monthDisplay{
                padding: 10px;
                border: #eeeeee 1px solid;
                border-radius: 10%;
            }

            button {
                background-color: #666d70;
            }
        }

        #weekdays {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #eeeeee;

            div {
                width: 100px;
                padding: 10px;
            }
        }

        #calendar {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;

            .day {
                width: 100px;
                padding: 10px;
                height: 100px;
                cursor: pointer;
                box-sizing: border-box;
                background-color: #999999;
                margin: 5px;
                box-shadow: 0px 0px 3px #CBD4C2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .day:hover {
                background-color: #c0c2ce;
            }

            .day+#currentDay {
                background-color: #333333;
            }

            .padding {
                cursor: default !important;
                background-color: #555555!important;
                box-shadow: none !important;
            }
        }

        .event {
            font-size: 12px;
            padding: 3px;
            background-color: #708090;
            color: #fff;
            border-radius: 5px;
            max-height: 55px;
            overflow: hidden;

        }
    }

    #newEventModal,
    #deleteEventModal {
        display: none;
        z-index: 20;
        padding: 25px;
        background-color: #666d70;
        box-shadow: 0px 0px 3px black;
        border-radius: 5px;
        width: 350px;
        top: 100px;
        left: calc(50% - 175px);
        position: absolute;
        font-family: sans-serif;
    }

    #newEventModal{
        h2{
            color: #adafaa;
            padding: 10px 10px 10px 0;
        }

        input{
            font-size: 1rem;
            background-color: #c0c2ce;
        }
    }

    #deleteEventModal{
        h2{
            color: #adafaa;
            padding: 10px 10px 10px 0;
        }

        input{
            font-size: 1rem;
            background-color: #c0c2ce;
        }

        p{
            padding: 10px 15px 10px 15px;
            margin-bottom: 1rem;
            font-size: 1rem;
            background-color: #c0c2ce;
            border: #c0c2ce 1px solid;
            border-radius: 5%;
            
        }
    }

    #eventTitleInput {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 25px;
        border-radius: 3px;
        outline: none;
        border: none;
        box-shadow: 0px 0px 3px gray;
    }

    #eventTitleInput.error {
        border: 2px solid red;
    }

    #cancelButton,
    #deleteButton {
        background-color: #d36c6c;
    }

    #saveButton,
    #closeButton {
        background-color: #92a1d1;
    }

    #eventText {
        font-size: 14px;
    }

    #modalBackDrop {
        display: none;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .tostada{
        box-shadow: 0px 0px 10px #fff;
    }
}